{% extends 'base/base.html'%}
{% load static %}
{% block title %}Python Aperitivo{% endblock title %}

{% block description %} Video Teste Vimeo{% endblock description %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="mt-4 mb-3">{{ video.titulo | default:"Faltando Titulo" }}</h1>
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}?h=eb8dd01039&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            title="7-24_BR1-1277799872_01.webm"></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
{% endblock body %}