{% extends 'base/base.html'%}
{% load static %}
{% block title %}Python Pro-home{% endblock title %}

{% block description %} Pagina do curso Python Pro{% endblock description %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					Curso de Python com Renzo
				</h2>
				<h4 class="mt-4">Subscribe</h4>

				<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
					/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">

				<form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=18c1e63cbca5d1f58ce6ace92&amp;id=50696937ff"
					  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
					  class="form-row align-items-center" target="_blank" novalidate>

				  <div class="form-row align-items-center">

					<div class="col-auto float-start me-3">
					  <label class="sr-only" for="mce-EMAIL">Email</label>
					  <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="Exemplo@email.com">
					</div>

					  <div class="col-auto float-start me-3">
					  <label class="sr-only" for="mce-FNAME">Nome</label>
					  <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME">
					</div>

					  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18c1e63cbca5d1f58ce6ace92_50696937ff" tabindex="-1" value=""></div>

					<div class="col-auto float-start me-3">
					  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
					</div>
				  </div>
				</form>

				<p>
					Confira mais informações sobre o curso que será ministrado em sua plataforma.
					<a href="https://pythonpro.com.br/" target="_blank" >Python Pro</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhe do instrutor.
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/Renzo.jpg' %}" alt="Foto de Renzo Nuccitelli"
									 class="img-thumbnail float-start me-3"/>
								Nuccitelli é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a>.
								Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
								Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
								Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República, Globo.com e Itaú.
								Palestrante em eventos internacionais como FISL, PyCon US e OSCON.
								Ajudou a criar a Associação Python Brasil e foi seu presidente.
								É membro da Python Software Foundation e fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}
